html {
  box-sizing: border-box;
  background-color: #79756f;
  font-family: "Bevan", cursive;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1, ul {
  color: #fff;
}


.cards {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a:link {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color:#fff;
}
